<a href="https://colab.research.google.com/github/Dahliology/AmitAssignments/blob/main/assignments_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://i.redd.it/6brfmxf7b8ga1.png" alt="Italian Trulli">

### Exercise on data types

## <font color='red'>What data type would that be?</font>

x = 5

print(type(x))

INT

#### x = "Hello World"
#### print(type(x))
### String

#### x = 20.5
#### print(type(x))
#### Float

#### x = ["apple", "banana", "cherry"]
#### print(type(x))
#### List

#### x = ("apple", "banana", "cherry")
#### print(type(x))
###  Tuple

#### x = {"name" : "John", "age" : 36}
#### print(type(x))

## Dictionnary

#### x = True
#### print(type(x))

Boolean

## Exercise on Numbers

#### Insert the correct syntax to convert x into a floating point number.

In [2]:
x = 5
x= float(x)
print(x)

5.0

### Insert the correct syntax to convert x into a integer.

In [4]:
x = 5.5
x= int(x)
print(x)

5

## Exercise on string

### Use the `len()` function to print the length of the string.

In [6]:
x = "Hello World"
print(len(x))

11

### Get the first character of the string txt.

In [8]:
txt = "Hello World"
x = txt[0]
print(x)

H

### Get the characters from index 2 to index 4 (llo).

In [10]:
txt = "Hello World"
x =txt[2:5]
print(x)

llo

##### Return the string without any whitespace at the beginning or the end.
##### hint ` txt.strip()`

In [13]:
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

### Convert the value of `txt` to upper case.

In [14]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

### Convert the value of `txt` to lower case.

In [15]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

#### Replace the character` H` with a `J`

In [17]:
txt = "Hello World"
txt = txt.replace("H","J")
print(txt)

Jello World

#### Insert the correct syntax to add a placeholder for the age parameter.

In [18]:
age = 36
txt = f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

### Exercise on Booleans

The statement below would print a Boolean value, which one?

In [20]:
print(10 > 9)

True

The statement below would print a Boolean value, which one?

In [21]:
print(10 == 9)

False

The statement below would print a Boolean value, which one?

In [22]:
print(10 < 9)

False

### <font color='gold'>Exercise-1</font>

#### Write a Python program to print the following string in a specific format

In [35]:
Text=''' Twinkle, twinkle, little star,
 	How I wonder what you are!
		Up above the world so high,
 		Like a diamond in the sky.
 Twinkle, twinkle, little star,
 	How I wonder what you are!'''

print(Text)

 Twinkle, twinkle, little star,
 	How I wonder what you are!
		Up above the world so high,
 		Like a diamond in the sky.
 Twinkle, twinkle, little star,
 	How I wonder what you are!

### <font color='gold'>Exercise-2</font>

#### Write a Python program that print the user's first and last name and prints them in reverse order with a space between them.

In [32]:
FirstName = input("Please Enter Your First\n >>> ")
LastName = input("Please Enter Your Last Name \n >>>")
print(LastName,FirstName)

Please Enter Your First
 >>> Dahlia
Please Enter Your Last Name
 >>>Sherif
Sherif Dahlia

### <font color='gold'>Exercise-3</font>

#### Write a Python program that calculates the area of a circle and radius = 1.1

In [36]:
r=1.1
area=3.14 *r**2

print(area)

3.7994000000000008

### <font color='gold'>Exercise-4</font>

#### Write a Python program that accepts a filename from the user and prints the extension of the file.

Sample Output:
Input the Filename: abc.java                                                                                  
The  extension of the file is : 'java'

In [49]:
filename="abc.py"
f_exts=filename.split(".")
print(f_exts[-1])

py

### <font color='gold'>Exercise-5</font>

#### Covert from string to list and tuple value ="Amit"

In [51]:
String ='Amit'
print(list(String))
print(String.split())
print(tuple(String.split()))

['A', 'm', 'i', 't']
['Amit']
('Amit',)

 ## After that

### Relace the index 3 in the list

In [58]:
String= "Amit"
String= list(String)
String[2] = 3
print(String)

['A', 'm', 3, 't']

 ### Convert the list to string and print the list

In [67]:
# prompt: Convert the list to string and print the list

String = ['A', 'm', '3', 't']
String = ''.join(String)
print(String)

Am3t

### <font color='gold'>Exercise-6</font>

#### Write a Python program to display the first and last colors from the following list.

#### color_list = ["Red","Green","White" ,"Black"]

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-8.png" alt="Italian Trulli">

In [41]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0],color_list[-1])

Red Black

## <font color='gold'>Exercise-7</font>

#### Write a Python program to print the following 'here document'.

In [ ]:
#Sample Output:
# a string that you "don't" have to escape
# This
# is a  ....... multi-line
# heredoc string --------> example

In [68]:
print('''a string that you "don't" have to escape\n This \n is a  ....... multi-line \n heredoc string --------> example

      ''')

a string that you "don't" have to escape
 This
 is a  ....... multi-line
 heredoc string --------> example

In [69]:
print("\"don't\"")

"don't"

## <font color='gold'>Exercise- 8</font>

###### I need to  check if  link `https://www.google.com/` strart with https or not and if the ` aimt4536@gmail.com` end with .com

In [70]:
Link = "https://www.google.com/"
Email= "aimt4536@gmail.com"
print(Link.startswith("https"))
print(Email.endswith(".com"))

True
True

# Thanks ❤

<img src="https://pbs.twimg.com/media/ELwC6EgXYAE8AtN.jpg" alt="Italian Trulli">